<%= simple_form_for(cocktail) do |f| %>

  <div class="form-group">
    <%= f.input :name, label: "Name", class: 'form-control' %>
    <%= f.input :photo, as: :file %>
  </div>

  <div class="mt-3">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end  %>
