<h1>All our Cocktails</h1>

<p><%= link_to "Add new cocktail", new_cocktail_path %></p>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail.photo.attached? %>
      <% url = cl_image_path(cocktail.photo.key) %>
    <% else %>
      <% url = "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg"  %>
    <% end %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= url %>)">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>
