<h1>All our Cocktails</h1>

<p><%= link_to "Add new cocktail", new_cocktail_path %></p>

<% @cocktails.each do |cocktail| %>
<ul>
  <li>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </li>
</ul>
<% end %>

